DATABASE_URI='postgresql://user:password@host/dbname?sslmode=require&channel_binding=require'

GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''

UPSTASH_REDIS_REST_URL=''
UPSTASH_REDIS_REST_TOKEN=''

NEXT_PUBLIC_APP_URL='http://localhost:3000'

AUTH_SECRET=''

JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=
JWT_KID=

EMAIL_ENABLED=false
RESEND_API_KEY=
EMAIL_FROM=''
